html, body{
	width: 100%;
	height: 650px;
	margin: auto;
	background-color: #FFFFFF;
}
#topo{
	position: fixed;
	width: 100%;
	height: 180px;
	background-image: url(../visual/img/bg_header.jpg);
	background-size: 100% 100%;
	z-index: 1;
}
#container-topo{
	position: relative;
	width: 1100px;
	height: 90%;
	margin: auto;
	background-color: transparent;
}
#logo{
	position: relative;
	width: 125.2px;
	height: 60%;
	background: url(../visual/img/logo.png);
	background-size: 100% 100%;
	left: 44.1%;
	top: 6%;
}
#container-opcoes ul li{
	float: right;
}
#container-opcoes ul li a{
	text-decoration: none;
	font-size: 20px;
	width: 150px;
	height: 50px;
	background-color: rgb(126, 159, 179);
	color: white;
}
#container-opcoes ul li a:hover {
	color: rgb(243, 125, 1);
	text-decoration: underline;
}
#container-opcoes{
	position: relative;
	right: 2.5%;
}
#menu {
	top: 20px;
	position: relative;
	width: 97%;
	height: 60px;
	margin: 0 auto 0 auto;
}
#menu ul li a{
	border-left: solid #746767 1px;
	border-right: solid #3A3A3A 1px;
	float: left;
	height: 50px;
	width: 24.7%;
	background-color: rgb(126, 159, 179);
	text-decoration: none;
	font-size: 19px;
	font-weight: 800;
	position: relative;
	top: 25%;
	color: white;
	display: -webkit-flex;
  	display: flex;
	-webkit-align-items: center;
	align-items: center;
 	-webkit-justify-content: center;
 	justify-content: center;
}
#menu ul li a.active {
	text-decoration: none;
	color: rgb(243, 125, 1);
}
#menu ul li.menu-caixa a:hover{
	background-color: white;
	color: rgb(243, 125, 1);
	transition: all 0.5s;
}
#menu ul li.menu-caixa a.active:hover{
	transition: all 0.5s;
	background-color: white;
}
/*Agora começa as edições da page*/


#container-informacoes{
	background-image: URL(../visual/img/paperclip_texture.png);
	background-size: 85% 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: 250px;
	margin: 0px auto 0px auto;
	width: 1000px;
	height: 400px;
}
#botao-container a:hover{
	transition: all 0.5s;
	background-color: white;
}
#botao-container a:hover{
	transition: all 0.5s;
	color: rgb(243, 125, 1);
}
#botao-container a{
	position: absolute;
	left: 735px;
	top: 25px;
	border: solid #CCCCCC 1px;
	width: 155px;
	height: 25px;
	background-color:  rgb(126, 159, 179);
	text-align: center;
	border-radius: 15px;
	transition: all 0.5s;
	
	font: "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 18px;
	color: white;
	font-weight: 700;
	text-decoration: none;
}
#container-informacoes h2{
	position: relative;
	text-align: center;
	font-size: 51px;
	bottom: 60px;
}
#form-div{
	width: 675px;
	height: 250px;
	position: absolute;
	left: 14.5%;
	top: 70px;
}
#formadepagamento{
	line-height: 30px;
	text-align: center;
	position: relative;
	top: 20px;
}
h1{
	font-size: 21px;
}
.formPagTab{
	margin: 0px 20px 0px 0px;
}
#DiadoPagamento{
	position: absolute;
	line-height:10px;
	top:113px;
	left: 100px;
}
#cDia{
	border: solid #848484 1px;
}
#valoraPagar{
	position: absolute;
	top: 126px;
	right: 60px;
	line-height: 10px;
}
#cTot{
	border: solid #848484 1px;
}
#buttonEnviar{
	position: absolute;
	left: 38%;
	top: 80%;
}
#btnEnviar{
	width: 175px;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(126, 159, 179);
	font-weight: 600;
	color: white;
	transform: 0.6s;
}
#btnEnviar:hover{
	background-color: rgba(156 ,189,209,1.00);
	transition: all 0.3s;
	color: rgb(243, 125, 1);
}